/* font-family: "MyriadProRegular"; */

* {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    margin-top: 198px;
    height: 2000px;
    position: relative;
    font-family: "Myriad Pro";
    font-size: 12px;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: left;
}

.flowPurification {
    overflow: auto;
}

.flowPurification:after {
    clear: both;
    content: '';
    display: table;
}

#PagesContainer {
    margin-left: -263px;
}

#PagesContainer > div {
    left: 50%;
    border: solid 2px black;
    position: absolute;
}

.page {
    width: 519px;
    height: 746px;

}

#page1 {
    z-index: 3;
    background-color: #EBEBEB;
    margin-left: -263px;
    padding: 30px 30px 20px 30px;

}

#page2 {
    z-index: 2;
    background-color: #CCCCCC;
    top: 20px;
    margin-left: -243px;

}

#page3 {
    background-color: #ACACAC;
    z-index: 1;
    top: 40px;
    margin-left: -223px;
}

.bookmark { /*3. Закладки делать псевдоэлементами конечно можно, но лучше нет.*/
    height: 31px;
    border: solid 2px black;
    border-radius: 0 10px 10px 0;
}

#bookmark1 {
    width: 107px;
    background-color: #F68E56;
    position: absolute;
    top: 39px;
    right: -82px;
}

#bookmark2 {
    width: 95px;
    background-color: #39B54A;

    position: absolute;
    top: 39px;
    right: -48px;
}

#bookmark3 {
    width: 95px;
    height: 31px;
    background-color: #00AEEF;
    position: absolute;
    top: 39px;
    right: -16px;
}

h1 { /*4. Лишние стили. Например для <h1> висят font-weight: normal;  text-align: left; Хотя они по умолчанию такие же*/
    font-size: 24px;
    padding-bottom: 20px;
}

h2 {
    clear: both;
    padding-bottom: 25px;
    font-size: 18px;
}

footer {
    font-size: 9px;
    padding-top: 10px;

    text-align: center;
}

#coffee {
    float: left;
    padding: 0 20px 18px 0;

}

#img_table {
    float: right;
    padding: 0 0 20px 4px;
}

.jokesleft {
    float: left;
    padding-bottom: 14px;
}

.jokesright {
    float: right;
    padding-bottom: 14px;
}

aside {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 90px;
    border: solid 1px black;
    font-size: 16px;
    text-align: center;
    background-color: rgb(251, 175, 93);
    padding: 5px;
}

aside > p {
    padding: 5px;
}

#navlist {
    margin: 10px 5px 10px 5px;
    display: inline;
    padding: 0;
    margin: 0;
}

#navlist li { /*дополнительное задание*/
    background-repeat: no-repeat;
    background-image: url("../img/socialmediaiconsthec.png");
    display: inline-block;
    width: 26px;
    height: 22px;
    vertical-align: top;
    float: left;

}

#facebook {
    background-position: 0 0;
}

#twitter {
    background-position: -26px 0;
}

#instagram {
    background-position: -52px 0;
}

